.dropdown {
  background: white;
  padding: 1rem;
  border-radius: 0.5rem;
  line-height: 1.5rem;
  width: 100%;
  max-width: 120px;
  position: absolute;
  z-index: 10;
  top: 2.5rem;
  box-shadow: 0px 1px 1px rgba(0, 0, 0);
}

.dropdown p {
  font-weight: 600;
}

.table_container {
  background: white;
  margin-top: 1rem;
  border-radius: 8px;
}

.edit-form {
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs label {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.inputs input,
.inputs textarea {
  border: 1px solid #e0e0e0;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  width: 100%;
  outline: none;
}

.select {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #e0e0e0;
  outline: none;
}

.get-method {
  color: lightgreen !important;
  font-weight: 600;
}

.post-method {
  color: lightblue !important;
  font-weight: 600;
}

.put-method {
  color: black !important;
  font-weight: 600;
}

.delete-method {
  color: lightcoral !important;
  font-weight: 600;
}

.patch-method {
  color: lightgray !important;
  font-weight: 600;
}

.save-btn {
  background: #4313ff;
  color: white;
  border: none;
  outline: none;
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  padding: 14px 12px;
}
