.settings-container {
  /* background: white;
  padding: 1.25rem;
  border-radius: 8px;
  height: 100%;
  min-height: 100vh; */
  margin-top: 1.5rem;
  overflow: hidden;
}

.settings-container .settings-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  overflow-x: scroll;
  width: 100%;
  margin-bottom: 2rem;
}

.settings-tabs::-webkit-scrollbar {
  display: none;
}

.settings-container .settings-tabs .active {
  background: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 600;
  color: #4313ff;
}

.settings-content {
  background: white;
  padding: 1.25rem;
  border-radius: 8px;
  height: 100%;
  min-height: 100vh;
}

.global-form {
  padding: 1.25rem 0;
  max-width: 600px;
  width: 100%;
}

.global-form button {
  border: none;
  outline: none;
  background: #4313ff;
  color: white;
  padding: 0.75rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  max-width: 340px;
}
